*{
    margin:0px;
    padding:0px;
    font-family:Arial, sans-serif
}
#container{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}
#news_layout{
    height:98%;
    width:98%;
    display:flex;
    flex-direction: column;
    background-color: pink;
    /* position: relative; */
    /* justify-content: center;
    align-items: center; */
}
#news_head{
    background-color: #011e29;
    flex:1;
    text-align:center;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
}
#news_content{
    display:flex;
    flex:6;
    background-color: #f5f5f5;
    padding:10px;
    /* justify-content:space-between; */
}
#articles{
    font:bold;
    /* width:200px; */
    height:150px;
    background-color: white;
    border-radius:10px;
    color:black;
    flex:1;
    position:relative;
    /* box-sizing:content-box; */

}
#main{
    font:bold;
    /* width:480px; */
    height:200px;
    background-color: white;
    border-radius:10px;
    color:black;
    flex:2;
    margin:0px 10px 0px 10px;
}
#images{
    font:bold;
    /* width:150px; */
    height:400px;
    background-color: white;
    border-radius:10px;
    color:black;
    display:flex;
    flex:1;
    flex-direction:column;
    overflow:hidden;
}
#articles h4{
    padding:5px;
    text-align: center;
    margin-top:30px;
}
#articles ul{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    /* width:100px; */
    /* padding:5px; */
    text-align: center;
    /* margin-left:50px; */
    margin-top:8px;
    /* background-color: white; */
}
#main h3{
    margin-top:30px;
    text-align:center;
}
#main p{
    margin:20px 8px 10px 30px;
}
#images h4{
    margin-top:30px;
    text-align:center;
    flex:1;
}
#images img{
    /* flex:2; */
    width:98%;
    height:100px;
    margin-bottom:10px;
}